<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main_layout.html}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pl">

  <div layout:fragment="content">
    <h1 class="text-center mt-3">Lista fiszek</h1>
    <hr/>
    <div class="row mt-1">
      <div class="col-12 text-right">
        <a class="btn btn-primary" href="/fiche/new">+ Nowa fiszka</a>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <table class="table">
          <thead>
          <tr>
            <th onclick="sortTable(0)">Lp</th>
            <th onclick="sortTable(1)">Język</th>
            <th>Termin w języku ojczystym</th>
            <th>Termin w języku obcym</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="fiche, iterStat : ${listFiches}">
            <td th:text="${iterStat.index + 1}">Lp</td>
            <td th:text="${fiche.languageName}">Język</td>
            <td th:text="${fiche.wordInMotherLanguage}">Termin w języku ojczystym</td>
            <td th:text="${fiche.wordInForeignLanguage}">Termin w języku obcym</td>
            <td>
              <a class="btn btn-sm btn-secondary" th:href="@{'/fiche/edit/' + ${fiche.id}}">Edytuj</a>
              &nbsp;&nbsp;&nbsp;
              <a class="btn btn-sm btn-danger" th:href="@{'/fiche/delete/' + ${fiche.id}}">Usuń</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</html>