<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main_layout.html}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pl">

  <div layout:fragment="content">
    <h1 class="text-center mt-3">Lista języków</h1>
    <hr/>
    <div class="row mt-1">
      <div class="col-12 text-right">
        <a class="btn btn-primary" href="/language/new">+ Nowy język</a>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <table class="table">
          <thead>
          <tr>
            <th>Lp</th>
            <th>Język</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="language, iterStat : ${listLanguages}">
            <td th:text="${iterStat.index + 1}">Lp</td>
            <td th:text="${language.name}">Język</td>
            <td>
              <a class="btn btn-sm btn-secondary" th:href="@{'/language/edit/' + ${language.id}}">Edytuj</a>
              &nbsp;&nbsp;&nbsp;
              <a class="btn btn-sm btn-danger" th:href="@{'/language/delete/' + ${language.id}}">Usuń</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</html>